@page "/tickets"
@using SS_OLA2_BACKEND.Data
@rendermode InteractiveServer

<PageTitle>Testing</PageTitle>


<EditForm Model=@ticket OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <label for="FirstName">First Name:</label>
    <InputText id="FirstName" @bind-Value=@ticket.FirstName></InputText>
    <br />

    <label for="LastName">Last Name:</label>
    <InputText id="LastName" @bind-Value=@ticket.LastName></InputText>
    <br />

    <label for="CompanyName">Company Name:</label>
    
    <InputText id="CompanyName" @bind-Value=ticket.CompanyName></InputText>
    <br />

    <label for="Chemical Type A">Weight in KG:</label>
    <InputNumber id="Type_A" @bind-Value=@ticket.Chemicals.Type_A></InputNumber>
    <br />

    <label for="Chemical Type B">Weight in KG:</label>
    <InputNumber id="Type_B" @bind-Value=@ticket.Chemicals.Type_B></InputNumber>
    <br/>

    <label for="Chemical Type C">Weight in KG:</label>
    <InputNumber id="Type_C" @bind-Value=@ticket.Chemicals.Type_C></InputNumber>
    <br />

    <button type="submit">Click me!</button>
</EditForm>

@code {
    // This youtube video shows how most of the things work https://www.youtube.com/watch?v=zOqgJJO-XtU 
    // create an instance so we can bind the InputText tags to the models attributes
    Ticket ticket = new();

    public void HandleSubmit(EditContext context)
    {
        // remember to cast the context model to your class (Ticket) in this case
        Ticket ticket = (Ticket)context.Model;
        Console.WriteLine($"{ticket.FirstName} {ticket.LastName} from {ticket.CompanyName} carries {ticket.Chemicals.Type_A}KG of chemical type A");
    }
}
